
@{
    ViewBag.Title = "OtelGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using OtelArama.Models
@model Oteller

<br /><br /><br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2 " style="text-align:center">

                    Oteli Güncelle
                </div>
                <div class="block-controls">
                    <a class="btn btn-fresh" href="/Oteller/Index">Otellere Geri Dön  </a>

                </div>
            </div>
            <div class="block-content-outer" style="display: block;">
                <div class="block-content-inner">
                    <form action="/Oteller/OtelGuncelle" method="post" role="form">
                        @if (Model != null)
                        {
                            <input type="hidden" name="otel_id" value="@Model.otel_id" />
                        }

                        <div class="form-group">
                            <label for="exampleInputEmail1">Otel Adı</label>
                            @if (Model.otel_adi == null)
                            {
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Otel adı giriniz" name="otel_adi">
                            }
                            else
                            {
                                <input value="@Model.otel_adi" type="text" class="form-control" id="exampleInputEmail1" placeholder="Otel adı giriniz" name="otel_adi">
                            }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Otel Adresi</label>
                            @if (Model.otel_adres == null)
                            {
                                <input value="" type="text" class="form-control" id="exampleInputPassword1" placeholder="Adres giriniz" name="otel_adres">
                            }
                            else
                            {
                                <input value="@Model.otel_adres" type="text" class="form-control" id="exampleInputPassword1" placeholder="Adres giriniz" name="otel_adres">
                            }

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Otel Telefonu</label>
                            @if (Model.otel_tel == null)
                            {
                                <input value="" type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon giriniz" name="otel_tel">
                            }
                            else
                            {
                                <input value="@Model.otel_tel" type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon giriniz" name="otel_tel">
                            }

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Otel Yönetimini Seçiniz</label>
                            <select class="form-control" name="yonetim_id">
                                @foreach (OtelYonetimi item in ViewBag.otelyonetimi)
                                {
                                    <option value="@item.yonetim_id">@item.yonetim_adi</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Otel Kapak Fotoğrafı</label>
                            @if (Model.image == null)
                            {
                                <input value="" type="text" class="form-control" id="exampleInputPassword1" placeholder="Resim url giriniz" name="image">
                            }
                            else
                            {
                                <input value="@Model.image" type="text" class="form-control" id="exampleInputPassword1" placeholder="Resim url giriniz" name="image">
                            }

                        </div>




                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


